@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

p{
    font-weight: 500;
    color: #111;
    font-size: 20px;
}

.btn_wsp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    z-index: 100;
    font-size: 30px;
    box-shadow: -1px 6px 14px 0px rgba(0,0,0,0.75);
    margin-left: 1400px;
    transition: .3s;
}

.btn_wsp:hover{
    text-decoration: none;
    color: #0df053;
    background: #fff;
    transform: translateY(-10px);
}

/*=======================MEDIA QUERIES=======================*/

@media (max-width: 991px){
    .btn_wsp{
        margin-left: 475px;
    }
}